* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

/*Container*/

#container {
    display: flex;
    height: auto;
    border-style: dashed;
    border-color: blue;
}

/*Aside*/

#aside {
    height: auto;
    width: 15%;
    border-style: dashed;
    border-color: red;
}

/*Column*/

#column {
    display: block;
    width: 85%;
    border-style: dashed;
    border-color: chocolate;
}

/*Upper-bar*/

#upper-bar {
    height: 100px;
    width: 100%;
    border-style: dashed;
    border-color: blueviolet;
}

/*Main*/

#main {
    height: calc(100vh - 200px);
    width: auto;
    border-style: dashed;
    border-color: chartreuse;
}

/*Bottom-bar*/

#currently-playing {
    height: 100px;
    border-style: dashed;
}