* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

/*Container*/

#container {
    display: flex;
    height: auto;
    border-style: dashed;
    border-color: blue;
}

/*Aside*/

#aside-container {
    height: auto;
    width: 15%;
    padding: 20px;
    background-color: #000000;
    font-weight: 600;
    border-style: dashed;
    border-color: red;
}

.logo {
    width: 60%;
    padding-bottom: 20px;
}

.menu img {
    width: 13%;
}

.menu li {
    color: #A3A3A3;
    padding-top: 5px;
}

/*BORDER GREEN*/

.header-playlist {
    color: white;
}

.list li  {
    color: #A3A3A3;
    padding-top: 10px;
    line-height: 30px;
}

.playlist {
    padding-top: 30px;
}

.plus-button {
    height: 32px;
    width: 32px;
    border-radius: 0%;
    border-style: none;
    background-color: #A3A3A3;
    font-size: 25px;
    font-weight: 700;
}



/*Column*/

#column {
    display: block;
    width: 85%;
    border-style: dashed;
    border-color: chocolate;
}


/*Upper-bar*/

#upper-bar {
    height: 100px;
    width: 100%;
    background-color: #080B12;
    border-style: dashed;
    border-color: blueviolet;
}

/*Main*/

#main {
    height: calc(100vh - 200px);
    width: auto;
    background-color: #141922;
    border-style: dashed;
    border-color: chartreuse;
}

/*Bottom-bar*/

#currently-playing {
    height: 100px;
    background-color: #282828;
    border-style: dashed;
}