* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: #A3A3A3;
}

/*Container*/

#container {
    display: flex;
    height: auto;
}

/*Aside*/

#aside-container {
    width: 15%;
    padding-inline: 20px;
    padding-block: 15px;
    background-color: #000000;
    font-weight: 600;
    font-size: 15px;
}

#aside-up {
    height: 50%;
}

.logo {
    width: 70%;
    padding-bottom: 20px;
}

.menu img {
    max-block-size: 30px;
}

.home {
    color: white;
}

/*BORDER GREEN*/

.header-playlist {
    color: white;
}

.list li  {
    padding-top: 10px;
    line-height: 30px;
}

.playlist {
    padding-top: 30px;
}

.plus-button {
    height: 32px;
    width: 32px;
    border-radius: 0%;
    border-style: none;
    background-color: #A3A3A3;
    color: #000000;
    font-size: 25px;
    font-weight: 700;
}

#aside-down {
    height: 50%;
    align-content: end;
}
  
hr {
    border: 1px solid #A3A3A3;
}

.profile img {
    height: 15%;
    width: 15%;
}

.profile-img {
    margin-top: 10px;
    border-radius: 50%;
    background-color: #A3A3A3;
}

.name {
    color: white;
}

.app-download {
   color: #A3A3A3; 
}

/*Column*/

#column {
    height: calc(100vh - 100px);
    display: block;
    width: 100%;
}

/*Upper-bar*/

#upper-bar {
    display: flex;
    height: 100px;
    width: 87%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: end;
    align-items: center;
}

.upgrade {
    height: auto;
    width: auto;
    margin-right: 25px;
    margin-bottom: 10px;
    padding: 13px 40px;
    border-radius: 25px;
    border: 2px, solid, white;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

/*Main*/

#main {
    height: calc(100vh - 100px);
    width: auto;
    background-color: #141922;
    overflow: auto;
    padding-left: 20px;
}

.card {
    cursor: pointer;
}

.card-img{
    position: relative;
}

.card:hover .riproduci{
    display: flex;
}

.riproduci {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: none;
}

.riproduci i{
    font-size: 23px;
    color: white;
    border: 4px, solid, white;
    border-radius: 50%;
    padding: 3px 4px 2px 8px;
}

.riproduci:hover {
    display: block;
    position: absolute;
}

/*Nav-bar*/

.container-nav-bar {
    padding-top: 120px;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.shortcut {
    display: flex;
    column-gap: 30px;
    font-weight: bold;
}

/*Music-Library*/

.row-recently-played, .row-create-for, .row-popular-artists{
    display: flex;
    width: calc((100% / 6) - (150px / 6));
}

.header-recently-played, .author {
    color: white;
    padding-bottom: 30px;
}

.header-create-for, .header-popular-artist {
    color: white;
}

.padding-h5 {
    padding-top: 10px;
    padding-bottom: 30px;
}

.recently-played {
    display: flex;
    width: calc(100% / 6);
    column-gap: 30px;
}

.recently-played img {
    width: 180px;
}

.figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: none;
}

.round {
    border-radius: 50%;
}

.change-width {
    width: 85px;
}

.artist-img {
    width: 60%;
    margin-left: 16px;
    margin-top: 16px;
}

.col {
    display: grid;
    align-self: center;
    width: 15%;
    font-size: 12px;
}

.hearth-folder {
    align-self: center;
}

.fa-regular {
    padding-left: 10px;
}

/*Bottom-bar*/

#currently-playing {
    height: 100px;
    background-color: #282828;
}

.container-bottom-bar {
    display: flex;
    height: 100%;
}

.artist-sinister, .playbar, .settings {
    border-style: dashed;
    border-color: white;
    width: calc(100% / 3);
}

.artist-sinister, .settings {
    display: flex;
}

/*HOVER*/

.upgrade:hover {
    transform: scale(1.1);
}

:hover {
    color: white;
}

/*RESPONSIVE XS*/

@media screen and (max-width:360px) {

    #aside-container {
        padding-left: 6px;
    }

    .react, .name, .app-download, .header-playlist, .plus-button {
        display: none;
    }
}

